.jasmine-results {
  margin-top: 14px;
}
.jasmine-summary {
  float: left;
}

.jasmine_html-reporter {
  width: 100%;
  background-color: #eee;
  padding: 5px;
  margin: -8px;
  font-size: 11px;
  font-family: Monaco, "Lucida Console", monospace;
  line-height: 14px;
  color: #333;
}

.jasmine_html-reporter .jasmine-run-options .jasmine-payload {
  position: absolute;
  display: none;
  right: -1px;
  border: 1px solid #8a4182;
  background-color: #eee;
  white-space: nowrap;
  padding: 4px 8px;
}

.jasmine_html-reporter .jasmine-run-options .jasmine-payload.jasmine-open {
  display: block;
}

.jasmine-suite-detail.jasmine-passed > a {
  color: darkgreen;
}

.jasmine-specs-pre .jasmine-passed > a {
  color: limegreen;
}
.jasmine-specs-pre .jasmine-failed > a {
  color: red;
}

.jasmine-excluded a {
  color: darkgray;
}

/* Popup container */
.popup {
  float: right;
  position: relative;
  top: 10px;
  background-color: honeydew;
  border-style: double;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  top: 20px;
  width: 300px;
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: grey;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
